click
dask[complete]
matplotlib
numpy
pandas
psutil
pytest
rasterio
rioxarray
scipy
shapely
tblib
tensorboard
# tensorboard-data-server
# tensorflow
# tensorflow-estimator
# tensorflow-io-gcs-filesystem
torch
torcharrow
torchaudio
torchmetrics
torchsampler
torchsummary
tqdm
xarray
zarr
scikit-image