click==8.0.3
dask==2023.3.2
matplotlib
numpy
pandas
pytest
rasterio
rioxarray
scikit-cuda
scikit-image
scikit-learn
scipy
shapely
tblib
tensorboard-data-server
tensorboard
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow
torch
torcharrow
torchaudio
torchmetrics
torchsampler
torchsummary
tqdm
typing_extensions
xarray
zarr
